body {
    font-family: Arial, sans-serif;
}

.navigation {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 30px;
}

.navigation > a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
}

.navigation > a:hover {
    text-decoration: underline;
}

.search {
    position: relative;
    top: 25vh;
    display: flex;
    justify-content: center;
}

form {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text {
    width: 700px;
    height: 45px;
    margin: 20px;
    border: 2px solid rgba(170, 165, 165, 0.294);
    border-radius: 30px;
    font-size: 17px;
    padding-left: 60px;
}

.text:focus {
    outline: none;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.text:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}  

.button {
    height: 50px;
    width: 250px;
    margin: 10px;
    border-radius: 10px;
    font-size: 21px;
    background-color: #f8f9fa;
    border: 0px;
    font-family: Arial, sans-serif;
}

.button:hover {
    border: 1px solid rgb(219, 219, 219);
}

.logo {
    position: relative;
}

img {
    margin: 10px;
}

label {
    color: #4285f4;
    position: absolute;
    bottom: 30px;
    right: 25px;
    font-size: 22px;
}

.search-icon {
    focusable: false;
    position: absolute;
    left: 25px;
    top: 230px;
}