body {
    font-family: Arial, sans-serif;
}

.navigation {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 30px;
}

.navigation > a {
    margin: 10px;
    color: inherit;
    text-decoration: none;
}

.navigation > a:hover {
    text-decoration: underline;
}

.google-search {
    position: relative;
    top: 25vh;
    display: flex;
    justify-content: center;
}

.google-form {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.google-textfield {
    width: 700px;
    height: 45px;
    margin: 20px;
    padding-left: 60px;
    font-size: 18px;
    font-family: arial, sans-serif;
    border: 2px solid rgba(170, 165, 165, 0.294);
    border-radius: 30px;
    background-image: url(images/search-icon.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 10px;
}

.google-textfield:focus {
    outline: none;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.google-textfield:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}  

.google-button {
    width: 250px;
    height: 50px;
    margin: 10px;
    border: 0px;
    border-radius: 10px;
    font-size: 21px;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.google-button:hover {
    border: 1px solid rgb(219, 219, 219);
}

.google-logo {
    position: relative;
}

.google-image{
    margin: 10px;
}

.google-image-label {
    position: absolute;
    bottom: 25px;
    right: 21px;
    font-size: 30px;
    color: #4285f4;
}

.advanced-search-label {
    position: absolute;
    top: 30px;
    left: 30px;
    margin: 40px;
    font-size: 26px;
    color: #d93025;
}

.advanced-search {
    position: absolute;
    top: 160px;
    left: 70px;
    display: inline-block;
    width: 70%;
}

.advanced-find-label {
    font-size: 22px;
    color: #333
}

.advanced-form > div {
    margin-top: 30px;
}

.advanced-button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 30px;
    margin-right: 3px;
    width: 150px;
    height: 45px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #3079ed;
    background-color: #4d90fe;
    color: white;
}

.advanced-button:hover {
    background-color: #357ae8;
    background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
}

.advanced-input-container > label {
    display: inline-block;
    width: 20%;
    margin-right: 9%;
    font-size: 21px;
}

.advanced-input-container > input {
    width: 69%;
    height: 45px;
    padding-left: 1%;
    border: 1px solid #d9d9d9;
    border-radius: 1px;
    border-top: 1px solid #c0c0c0;
    font-size: 19px;
    font-family: arial, sans-serif;
}

.advanced-input-container > input:focus {
    border: 1px solid #4d90fe;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
}

.advanced-top-hr {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #ebebeb;
}

.advanced-bottom-hr {
    width: 100%;
    margin-top: 100px;
    border: 1px solid #ebebeb;
}


